body{
    margin: 0px;
    background-color: white;
    cursor: url(IMG/cursor.png), default;
}

#DynamicBG{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #8a8a8a, #fff);
    background-size: 400% 400%;
    z-index: -1;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#Grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto 1fr;

}

@media (max-width: 960px) {
    #Grid{
        grid-template-columns: 1fr;
    }
}

#SectionL{
    display: flex;
    justify-content: left;
}

#SectionR{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#SectionM{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.WebHeader{
    max-width: 100%;
    display: flex;
    z-index: 100;
}

.WebHeader h1{
    color: rgb(0, 0, 0, .6);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 5vw;
    letter-spacing: .2em;
    word-spacing: .3em;
    text-align: left;
    margin: 0;
}

@media (max-width: 960px) {
    #SectionL{
        justify-content: center;
    }

    .WebHeader h1{
        text-align: center;
    }
}

.WeekBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.WeekButton{
    background-color: transparent;
    color: black;
    padding: 15px;
    border-left: none;
    border-right: none;
    border-color: black;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 960px){
    .WeekButton{
        font-size: 20px;
    }
}

.WeekButton:hover{
    background-color: black;
    color: White;
    transform: translate(10px);
}

.WeekLine{
    width: 0px;
    height: 50px;
    border-left: 2px solid;
}

#ReturnButton{
    position: relative;
    background-color: transparent;
    color: black;
    border-left: none;
    border-right: none;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

#ReturnButton:hover{
    background-color: black;
    color: white;
    transform: translateY(-10px);
}

@media (max-width: 960px) {
    #ReturnButton{
        font-size: 20px;
    }
}

.WeekContentBox{
    position: absolute;
    top: 160px;
    display: none;
    animation: fadeIn 1s forwards;
    max-width: 400px; /* Control IMG Size */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WeekContentBox.show{
    display: flex;
    animation: fadeIn 1s forwards;
}

.WeekContentBox p{
    font-size: 16px; /* Control Font Size */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    
}

.ResponsiveIMG{
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    margin: 20px 0px 0px 0px;
    box-shadow: 0 0 15px black;
    z-index: 300;
}

@media (max-width: 960px){
    .WeekContentBox{
        max-width: 240px;
    }
}

@media (max-width: 960px){
    .WeekContentBox p{
        font-size: 12px;
    }
}

/* ----- DragBox Begin ----- */

.DragBox01{
    background: rgba(0, 0, 0, .88);
    box-shadow: 0 0 15px;
    position: absolute;
    top: 80%;
    border-radius: 10px;
    z-index: 200;
}
.DragBox01 header{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2vw;
    font-weight: 100;
    padding: 10px 20px;
    cursor: auto;
    user-select: none;
}

.DragBox01 header.active{
    cursor: move;
    user-select: none;
}

@media (max-width: 960px) {
    .DragBox01{
        display: none;
    }
}

/* ----- DragBox End ----- */


/* ----- Keyframes Animation Begin ----- */

@keyframes Drop {
    from {
        transform: translateY(-90%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes Rise {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-90%);
    }
}

.SectionUp{
    animation: Rise 2s forwards;
}

.SectionDown{
    animation: Drop 2s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* ----- Keyframes Animation End ----- */